@model RailroadTransport.ViewModels.IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Сотрудники</h2>

<p><a asp-action="Create">Добавить</a></p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().StaffId)</th>
            <th>@Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().FIO)</th>
            <th>@Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().TrainId)</th>
            <th>@Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().Post.NameOfPost)</th>
            <th>@Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().Age)</th>
            <th>@Html.DisplayNameFor(model => model.Staffs.FirstOrDefault().WorkExp)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staffs)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StaffId)</td>
                <td>@Html.DisplayFor(modelItem => item.FIO)</td>
                <td>@Html.DisplayFor(modelItem => item.TrainId)</td>
                <td>@Html.DisplayFor(modelItem => item.Post.NameOfPost)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.WorkExp)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffId">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.StaffId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}