@model IEnumerable<RailroadTransport.Models.Staff>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr class="header">
            <td><p>Номер сотрудника</p></td>
            <td><p>ФИО</p></td>
            <td><p>Возраст</p></td>
            <td><p>Стаж</p></td>
            <td><p>Название должности</p></td>
            <td><p>Номер поезда</p></td>
            <td></td>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td><p>@s.StaffId</p></td>
                <td><p>@s.FIO</p></td>
                <td><p>@s.Age</p></td>
                <td><p>@s.WorkExp</p></td>
                <td><p>@s.Post.NameOfPost</p></td>
                <td><p>@s.TrainId</p></td>
            </tr>
        }
    </table>
</div>